@import "tailwindcss";

:root {
  --background: #F4F6F7;
  /* Kırık Beyaz / Açık Gri */
  --foreground: #2C3E50;
  /* Akademik Lacivert */

  /* ODTÜ Renkleri & Semantik */
  --color-primary: #2C3E50;
  /* Lacivert (Ana Metin, Başlık) */
  --color-secondary: #E31E24;
  /* ODTÜ Kırmızısı (Vurgu) */
  --color-accent: #F39C12;
  /* Sıcak Turuncu (CTA) */
  --color-muted: #EBF5FB;
  /* Buz Mavisi (Kart Arkaplan) */

  --font-heading: var(--font-montserrat);
  --font-body: var(--font-open-sans);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-muted: var(--color-muted);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}